#CHAT_BOT {
	margin: 5rem;
	display: none;
}

input {
	font-family: 'Cousine', 'Century Gothic', monospace;
}

/* Text Boxes */

textarea[name="bot input"] {
	width: 33.9rem;
	height: 5rem;
	resize: none;
	border-bottom-left-radius: 0.5rem;
	background-color: #111;
	color: aqua;
	font-family: 'Cousine', 'Century Gothic', monospace;
	padding: .64rem;
	border: none;
	margin: 0;
	display: inline-block;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75);
}

textarea[name="bot input"]:focus {
	background-color: #444;
}

/* Display */

#CHAT_DISPLAY {
	height: 20rem;
	width: 41.12rem;
	color: aqua;
	font-family: 'Cousine', 'Century Gothic', monospace;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin: auto;
	background-color: darkslategrey;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75);
}

#CHAT_TIME {
	padding: 0.5rem;
	background-color: #111;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

#MESSAGES {
	height: 18rem;
	overflow: auto;
	margin: 0;
	color: #222;
}

#MESSAGES > p {
	font-size: 0.8rem;
	color: #222;
	opacity: 0.75;
}

#MESSAGES div {
	float: left;
	clear: left;
	background-color: #ccc;
	border-radius: 0.5rem 0rem 0rem 0.5rem;
	width: 50%;
	min-height: 2rem;
	text-align: left;
	padding: 1rem;
	margin: 1rem 0rem;
}

#MESSAGES div p {
	float: right;
	width: 80%;
	margin-top: 0rem;
}

#MESSAGES div.botMessage {
	float: right;
	clear: right;
	background-color: #fff;
	color: black;
}

#MESSAGES .secondaryBackground {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

#MESSAGES div img {
	width: 3rem;
	height: 3rem;
	float: left;
	border-radius: 0.25rem;
}

#MESSAGES div span {
	clear: both;
	display: block;
	text-align: right;
	color: slategray;
	font-size: 0.75rem;
}

#BOT_INPUT {
	font-size: 0rem;
}

#CHAT_OPTIONS {
	background-color: #111;
	width: 4.56rem;
	display: inline-block;
	padding: .64rem;
	border-left: none;
	border-bottom-right-radius: 0.5rem;
	height: 5rem;
	vertical-align: top;
	margin: 0;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75);
}

#CHAT_OPTIONS input, #OPTIONS_MODIFIER input {
	padding: .16rem;
	width: 4.5rem;
	color: cyan;
	background-color: darkslategray;
	border: none;
	border-radius: .32rem;
	margin: 0rem 0rem 0.48rem 0rem;
}

#CHAT_OPTIONS input:hover, #OPTIONS_MODIFIER input:hover {
	cursor: pointer;
	background-color: slategray;
	color: #fff;
}

#OPTIONS_WINDOW, #HELP_WINDOW {
    position: absolute;
    border-radius: 0.5rem;
    background-color: #222;
    padding: 1rem;
    box-shadow: 0.16rem 0.32rem 0.16rem 0.16rem #000;
	display: none;
}

#OPTIONS_WINDOW {
    z-index: 2;
    top: 20%;
	bottom: 20%;
	left: 40%;
	right: 40%;
}

#HELP_WINDOW {
    z-index: 3;
    top: 15%;
    bottom: 15%;
    left: 25%;
    right: 25%;
}

#CHAT_COLORS {
    text-align: left;
    height: 70%;
    width: 100%;
}

#CHAT_COLORS span {
	float: left;
	clear: left;
	margin-bottom: 1rem;
	color: aqua;
}

#CHAT_COLORS input {
	float: right;
	clear: right;
	margin-bottom: .5rem;
	padding: .16rem;
	width: 1.5rem;
	border-radius: .32rem;
}

#CHAT_COLORS input:hover {
	cursor: pointer;
}

#USERNAME {
    margin: 1rem 0;
}

#USERNAME textarea {
	resize: none;
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	border-radius: 0.5rem;
	padding: 1rem;
	color: slategray;
	font-weight: bolder;
	overflow: hidden;
	border: none;
}

#HELP {
    text-align: left;
    height: 85%;
    overflow-y: auto;
    margin-bottom: 2rem;
}

#OPTIONS_MODIFIER {
	clear: both;
}