h1 {
	color: #fff;
	font-size: 3.5rem;
	letter-spacing: 1rem;
	background-color: #000;
	margin: 0;
	padding: 1.5rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}

input[name="search"] {
	color: #111;
	font-size: 1.5rem;
	background-color: #444;
	border: none;
	border-radius: .32rem;
	margin: 0;
	padding: 0.375rem 0.5rem;
	line-height: 1.5rem;
	vertical-align: top;
	font-family: 'Cousine', 'Century Gothic', monospace;
}

input[name="search"]:hover {
	cursor: pointer;
	color: #fff;
}

/* Text Boxes */
textarea[name='song search'], textarea[name='artist search'] {
	margin: 0;
	margin-right: 2rem;
	font-size: 2rem;
	line-height: 2.5rem;
	padding: 0rem 1rem;
	resize: none;
	overflow: hidden;
	border-radius: 0.5rem;
	border: none;
	font-family: 'Cousine', 'Century Gothic', monospace;
}

textarea[name='song search'] {
	width: 22rem;
}

textarea[name='artist search'] {
	width: 22rem;
}

/* Display */

#SONG_FINDER {
	padding: 1rem;
	position: fixed;
	width: 100%;
	top: 7rem;
	background-color:#444;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75), -0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75);
}

#SONG_RESULT {
	padding: 1.5rem;
	height: 2rem;
}

#LYRICS {
	position: absolute;
	top: 11rem;
	width: 100%;
	z-index: -1;
}

#LYRICS_RESULT {
	background-color: rgba(0,0,0,0.75);
	border-radius: 0.25rem;
	white-space: pre-line;
	width: 70%;
	margin: auto;
	font-size: 1.5rem;
	padding: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.5);
}

#YTLINK {
	font-size: 2rem;
	color: #fff;
	font-weight: bolder;
	transition: all 0.5s;
	text-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.75);
}

#YTLINK:hover {
	color: aqua;
	transition: all 0.5s;
}