h1 {
	color: aqua;
	font-size: 5rem;
	letter-spacing: 0.5rem;
	background-color: #000;
	margin: 0;
	padding: 3.35rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}

input[name="search"] {
	color: cyan;
	font-size: 1.5rem;
	background-color: darkslategray;
	border: .08rem solid aqua;
	border-radius: .32rem;
	margin: 0;
	padding: 0.125rem 0.5rem 0.375rem 0.5rem;
	line-height: 1.5rem;
	vertical-align: top;
}

input[name="search"]:hover {
	cursor: pointer;
}

/* Text Boxes */
textarea[name='song search'], textarea[name='artist search'] {
	margin: 0;
	margin-right: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	padding: 0rem 1rem;
	resize: none;
	overflow: hidden;
	border-radius: 0.5rem;
	color: darkcyan;
}

textarea[name='song search'] {
	width: 22rem;
}

textarea[name='artist search'] {
	width: 22rem;
}

/* Display */

#SONG_FINDER {
	border-top: 0.08rem solid #fff;
	padding-top: 1rem;
	position: fixed;
	width: 100%;
	top: 12.75rem;
	background-color: #222;
	box-shadow: 0 0 1rem 1rem #000;
}

#SONG_RESULT, #LYRICS_RESULT {
	margin-top: 1rem;
}

#SONG_RESULT {
	background-color: #000;
	border-top: 0.08rem solid #fff;
	padding-top: 1rem;
	height: 2rem;
}

#LYRICS {
	position: absolute;
	top: 22rem;
	width: 100%;
	z-index: -1;
}

#LYRICS_RESULT {
	white-space: pre-line;
	width: 80%;
	margin: auto;
	font-size: 1.5rem;
	padding: 1rem;
}

#YTLINK {
	font-size: 2rem;
	color: aqua;
	font-weight: bolder;
}