@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

html {
	font-size: 16px;
}

body {
	background-color: #222;
	background-image: url('Images/connectwork.png'); /* Background pattern from Toptal Subtle Patterns */
	background-position: 0 0;
	background-size: 30%;
	text-align: center;
	color: #fff;
	font-family: 'Cousine', 'Century Gothic',  monospace;
	margin: 0rem;
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

#HOMEPAGE_LINK {
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	font-size: 1rem;
	color: #fff;
	opacity: 0.5;
	transition: all 0.5s;
}

#HOMEPAGE_LINK:hover {
	color: aqua;
	opacity: 1;
	transition: all 0.5s;
}

/* Headers */
h1, h1 a {
	background-color: #000;
	background-image: url('Images/curls.png'); /* Background pattern from Toptal Subtle Patterns */
	background-position: 0 0;
	background-size: 30%;
	margin: 0;
	padding: 1.5rem 0;
	color: #fff;
	font-size: 3.5rem;
	letter-spacing: 1rem;
	text-shadow: 0.5rem 0.5rem 0.1rem #000;
}

h1 a {
	background: none;
}

h3 {
	font-size: 1.75rem;
	line-height: 3rem;
}

nav {
	background-color: #333;
	padding: 0.08rem;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem #000, -0.5rem 0.5rem 0.1rem 0.1rem #000;
}


/* Navigation */
nav > ul > li {
	display: inline-block;
	font-size: 2rem;
	margin: 0rem 6rem;
}

nav > ul > li > a {
	color: #fff;
	transition: all 0.5s;
}

nav > ul > li > a:hover {
	text-shadow: 0 0 0.1rem #fff;
	transition: all 0.5s;
}

/* Sections */
div article {
	text-align: left;
}

#ABOUT {
	display: block;
}

#ABOUT, #CONTACT {
	margin-top: 5rem;
}

#ABOUT article, #CONTACT article {
	padding: 0.1rem 2rem;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	margin: 0 18rem;
	border-radius: 0.25rem;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem #000;
}

#ABOUT p {
	font-size: 1.75rem;
}

#PROJECTS article {
	text-align: center;
	display: grid;
	grid-template:
		"a a a"
		"b b b";
}

.main {
	display: none;
}

#CONTACT article p {
	font-size: 2.5rem;
	margin: 1rem;
}

#CONTACT article a {
	color: #666;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.75rem;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	padding: 0.25rem 1rem;
	text-align: right;
	border-top-left-radius: 0.25rem;
}

/* Buttons */
article h3 {
	padding: 0rem;
	margin: 5.5rem auto;
	background-color: rgba(0,0,0,0.75);
	border-radius: 0.25rem;
	transition-duration: 0.5s;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem #000;
}

article h3:hover {
	background-color: rgba(0, 255, 255,0.75);
	transition-duration: 0.5s;
}

article h3 img {
	display: block;
	margin: 0;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

article h3 a {
	color: #fff;
	padding: 0rem;
	margin: 0rem;
}

/* Tablets */
@media (orientation: portrait) {
	nav > ul {
		padding: 0rem;
	}
	
	nav > ul > li {
		margin: 0rem 2rem;
	}
	
	#ABOUT article {
		padding: 0 12rem;
	}
	
	#CONTACT article {
		padding: 4rem 10rem;
	}
	
	#PROJECTS article {
		display: block;
	}
}

/* Smaller Mobile Devices */
@media (orientation: portrait) and (max-width: 414px), (orientation: landscape) and (max-width: 812px) {
	h1, h1 a {
		color: #fff;
		font-size: 1.5rem;
		letter-spacing: 0.5rem;
		text-shadow: 0 0 0.05rem #ccc, 0 0 0.1rem #666, 0 0 0.05rem #000;
	}
	
	nav > ul {
		padding: 0rem;
	}
	
	nav > ul > li {
		font-size: 1rem;
		margin: 0rem 1rem;
	}
	
	#ABOUT {
		margin-top: 3rem;
	}
	
	#ABOUT article {
		padding: 0 3rem;
	}
	
	#ABOUT p {
		font-size: 1.25rem;
	}
	
	#CONTACT article {
		padding: 2rem 2rem;
		font-size: 1.5rem;
	}
	
	footer {
		font-size: 0.65rem;
		padding: 0.15rem 0.5rem;
		border-top-left-radius: 0.75rem;
	}
	
	article h3 {
		padding: 5rem 0rem;
		margin: 1rem auto;
	}
	
	article h3 img {
		display: none;
	}
	
	#PROJECTS article {
		grid-template:
			"a a"
			"b b";
	}
	
	#PROJECTS h3:last-child {
		display: none;
	}

	#PROJECTS h3 a span {
		margin: 0 0.5rem;
	}
}