@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

html {
	font-size: 16px;
}

body {
	background-color: #222;
	background-image: url('Images/connectwork.png'); /* Background pattern from Toptal Subtle Patterns */
	background-position: 0 0;
	background-size: 30%;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	font-family: 'Cousine', 'Century Gothic',  monospace;
	margin: 0rem;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

#HOMEPAGE_LINK {
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	font-size: 1rem;
	color: #fff;
	opacity: 0.5;
	transition: all 0.5s;
}

#HOMEPAGE_LINK:hover {
	color: aqua;
	opacity: 1;
	transition: all 0.5s;
}

/* Headers */
h1, h1 a {
	background-color: #000;
	background-image: url('Images/curls.png'); /* Background pattern from Toptal Subtle Patterns */
	background-position: 0 0;
	background-size: 30%;
	margin: 0;
	padding: 1.5rem 0;
	color: #fff;
	font-size: 3.5rem;
	letter-spacing: 1rem;
	text-shadow: 0.5rem 0.5rem 0.1rem rgba(0,0,0,0.75);
}

h1 a {
	background: none;
}

h2 {
	font-size: 3rem;
	text-shadow: 0.5rem 0.5rem 0.1rem rgba(0,0,0,0.75);
}

h3 {
	font-size: 1.75rem;
	line-height: 3rem;
}

nav {
	background-color: #444;
	padding: 0.08rem;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75), -0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.75);
}


/* Navigation */
nav > ul > li {
	display: inline-block;
	font-size: 2rem;
	margin: 0rem 6rem;
}

nav > ul > li > a {
	color: #111;
	transition: all 0.5s;
}

nav > ul > li > a:hover {
	color: #fff;
	transition: all 0.5s;
}

/* Sections */

.main {
	margin-bottom: 15rem;
	padding-top: 5rem;
}

div article {
	text-align: left;
}

#ABOUT {
	margin-top: 0;
}
#CONTACT {
	margin-top: 5rem;
}

#ABOUT article, #CONTACT article {
	padding: 2rem;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	margin: 0 auto;
	border-radius: 0.25rem;
	box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.5);
	max-width: 50rem;
}

#ABOUT p {
	font-size: 1.75rem;
}

#ABOUT p:first-child {
    margin-top: 0;
}

#ABOUT p:last-child {
    margin-bottom: 0;
}

#PROJECTS article {
	text-align: center;
	display: grid;
	grid-template:
		"a a a"
		"b b b";
}

#CONTACT article p {
	font-size: 2.5rem;
	margin: 1rem;
}

#CONTACT article a {
	color: #666;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.75rem;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	padding: 0.25rem 1rem;
	text-align: right;
	border-top-left-radius: 0.25rem;
}

/* Buttons */
#PROJECTS article a {
    padding: 0rem;
    margin: auto;
    background-color: rgba(0,0,0,0.75);
    border-radius: 0.25rem;
    transition-duration: 0.5s;
    box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0,0,0,0.5);
    width: 18rem;
    height: 16rem;
}

#PROJECTS article a:hover {
	background-color: rgba(0, 255, 255,0.75);
	transition-duration: 0.5s;
}

#PROJECTS article h3 img {
    display: block;
    margin: 2rem auto 3rem auto;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#PROJECTS article a h3 {
	color: #fff;
	padding: 0rem;
	margin: 0rem;
}

#VIEWER {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
	margin-left: -50%;
	display: none;
	opacity: 0;
}

input.project {
    border: none;
	background: none;
    color: #333;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

input.project:hover {
	cursor: pointer;
	color: #fff;
}


/* Mobile Devices */
@media (orientation: portrait) and (max-width: 414px), (orientation: landscape) and (max-width: 812px) {
	h1, h1 a {
		background-size: 100%;
		padding: 1rem 0;
		font-size: 2rem;
		letter-spacing: 0.5rem;
		text-shadow: 0.25rem 0.25rem 0.05rem rgba(0,0,0,0.75);
	}

	nav > ul {
		padding: 0rem;
		margin: 0;
	}
	
	nav > ul > li {
		margin: 0;
		width: 100%;
		padding: 1rem 0;
	}

	nav > ul > li:first-child {
		border-bottom: 0.08rem solid #222;
	}

	.main {
		margin-bottom: 0;
		padding-top: 0;
	}

	h2 {
		font-size: 2rem;
		text-shadow: 0.25rem 0.25rem 0.05rem rgba(0,0,0,0.75);
	}
	
	#ABOUT, #CONTACT {
		margin-top: 0;
	}
	
	#ABOUT article, #CONTACT article {
		padding: 2rem;
	}

	#CONTACT article p {
		font-size: 1.5rem;
		margin: 0;
	}


	#PROJECTS article {
		grid-template:
			"a"
			"b";
	}

	#PROJECTS article a {
		margin: 1rem auto;
		width: 14rem;
		height: 14rem;
	}

	article h3 img {
		margin: 2rem auto;
	}

	#PROJECTS a:last-child {
		display: none;
	}

	input.project {
		top: unset;
		bottom: 1rem;
		font-size: 1.5rem;
		color: #ccc;
	}
}

@media (orientation: landscape) and (max-width: 812px) {
	nav > ul > li {
		margin: 0;
		width: auto;
		padding: 1rem 2rem;
	}

	nav > ul > li:first-child {
		border-bottom: none;
	}

	#PROJECTS article {
		grid-template:
			"a a"
			"b b";
	}
}